<! DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Home Page</title>
    </head>
    <body>
        <h1>{{pagetTitle}}</h1>
        <p>Hi {{welcome_Message}}</p>
        <footer>
            <p>copyright {{currentYear}}</p>
        </footer>
    </body>
</html>